.line-input-container {
  position: relative;
  pointer-events: all;
}

.line-input {
  background-color: transparent;
  border-style: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  width: 100%;
  line-height: 1.5rem;
  font-size: 15px;
  box-sizing: border-box;
}

.line-input-icon-container {
  /* z-index: -1; */
  position: absolute;
  bottom: 4px;
  left: 0px;
  width: 1.25rem;
  height: 1.25rem;
}

.line-input-clear-container {
  position: absolute;
  /* top: 0px; */
  bottom: 4px;
  right: 0px;
  width: 1.2rem;
  height: 1.2rem;
}
