.toggle-switch {
  display: flex;
  justify-content: space-between;
}

.switch-container {
  flex-shrink: 0;
}

.switch {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10000px;
}

.dot {
  box-sizing: border-box;
  position: absolute;
  background-color: white;
  height: 100%;
  border-radius: 10000px;
  border-style: solid;
  border-color: rgb(113, 126, 153);
  border-width: 2px;
}