.bookmark {
  position: relative;
  display: flex;
  flex-direction: column;
  height: fit-content;
  box-sizing: border-box;

  /* ### */
  /* background-color: blue; */
}

.pigtail {
  position: absolute;
}

.bookmark-container {
  box-sizing: border-box;
  align-self: flex-end;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  background-color: rgba(255, 255, 255, 0.979);
  padding: 10px 25px;

}

.bookmark-content-container {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
}

.bookmark-content-container > p {
  /* margin: 0px; */
}

.bookmark-title {
  font-weight: bold;
  color: rgb(151, 151, 151);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px;
}

.bookmark-url {
  margin: 0px 0px 10px 0px;
  font-weight: bold;
  text-decoration: underline;
  color: #3650AB;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.bookmark-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  color: rgb(161, 161, 161);
  margin-bottom: 15px;
}

.bookmark-info > p {
  margin: 0px;
  font-style: italic;
  font-size: 16px;
}

.bookmark-stats {
  display: flex;
  align-items: center;
  gap: 30px;
}

.bookmark-stats > div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.bookmark-icon-container {
  width: 25px;
  height: 25px;
}

.bookmark-tags {
  display: flex;
  gap: 10px;
}

.bookmark-tag {
  background-color: rgb(204, 204, 204);
  padding: 5px 20px;
  border-radius: 20px;
  margin-bottom: 15px;
}

.bookmark-comments {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 15px;
  box-shadow: inset -10px -5px 50px rgba(52, 0, 175, 0.288),
  inset 5px 5px 5px rgba(0, 82, 175, 0.171);
}

.bookmark-comments > div {
  background-color: rgb(162, 209, 253);
  padding: 10px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  /* box-shadow: -1px -1px 1px 1px rgba(0, 0, 0, 0.3); */
  border-radius: 5px;
}

.parent {
  background-color: #3650AB;
}

.child {
  background-color: blueviolet;
  margin-left: 40px;
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.comment-pseudonym {
  font-weight: bold;
  font-style: italic;
  align-self: flex-end;
  color: rgb(92, 92, 92);
}