.bookmark {
  position: relative;
  display: flex;
  flex-direction: column;
  height: fit-content;
  box-sizing: border-box;
}

.pigtail {
  position: absolute;
}

.bookmark-container {
  box-sizing: border-box;
  align-self: flex-end;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.979);
  padding-left: 10px;
  padding-right: 10px;
}

.bookmark-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}