.bookmark-edition {
  border-radius: 10px;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 10px 20px;
  overflow: hidden;
  max-height: calc(100vh - 200px);
  z-index: 100;
}

.bookmark-edition-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.bookmark-edition-top > div,
.bookmark-edition-tags,
.bookmark-edition-comments {
  display: flex;
  gap: 25px;
  font-size: 14px;
  font-weight: bold;
  color: #3650AB;
}


.bookmark-edition-top {
  user-select: none;
}

.bookmark-edition-remove {
  color: #882E2E;
}

.bookmark-edition-tags,
.bookmark-edition-comments {
  margin-top: 30px;
  margin-bottom: 15px;
}

.bookmark-edition-tags-input {
  margin-bottom: 5px;
}

.bookmark-edition-url {
  font-weight: bold;
  font-size: 14px;
  text-decoration: underline;
  color: #3650AB;
}
.bookmark-edition-title {
  font-weight: bold;
  font-size: 18px;
  color: #555555;
}

.bookmark-edition-title-url > div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bookmark-edition-tags-list {
  background-color: rgb(255, 255, 255);
  gap: 5px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  overflow-y: auto;
  flex-shrink: 0;
  align-items: flex-start;
  align-content: flex-start;

  border-radius: 10px;
  box-shadow: inset -10px -5px 50px rgba(52, 0, 175, 0.288),
    inset 5px 5px 5px rgba(0, 82, 175, 0.171);
}


.bookmark-edition-tag {
  padding: 3px 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.bookmark-edition-comments-list {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: inset -10px -5px 50px rgba(52, 0, 175, 0.288),
  inset 5px 5px 5px rgba(0, 82, 175, 0.171);
  padding: 5px;
  overflow-y: auto;
  min-height: 100px;
}

.bookmark-edition-close-icon {
  width: 25px;
  height: 25px;
}

.bookmark-edition-title-input,
.bookmark-edition-url-input {
  width: 100%;
}

/* .bookmark-edition-comment {
  padding: 5px 10px;
} */

.bookmark-edition-comment {
  box-sizing: border-box;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}