.thread {
  display: flex;
  flex-direction: column;
  /* background-color: gold; */
}

.thread-vertical-line-container {
  position: relative;
  flex-shrink: 0;
}

.thread-vertical-line-container > * {
  position: absolute;
}

.thread-bookmarks-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* overflow-x: hidden; ?????????????? */
}

.thread-dot-name {
  display: flex;
  align-items: center;
}

.thread-name-container {
  display: flex;
  align-items: center;;
}

.thread-name {
  margin-top: 0px;
  margin-bottom: 0px;
  align-self: center;
  vertical-align: middle;
  white-space: nowrap;
}

.thread-menu-container {
  position: absolute;
  top: 100px;
  background-color: rgba(206, 13, 13, 0.26);
  width: 400px;
  height: 100px;
}