.background-darkblue-container {
  position: relative;
  z-index: -1;
}

.presentation-background-darkblue {
  position: absolute;
  width: 100%;
  height: 2000px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 2.15%, rgba(39, 39, 39, 0.52) 15.83%, rgba(0, 0, 0, 0.8) 27.06%), radial-gradient(146.92% 39.04% at 50% -6.55%, rgba(255, 0, 0, 0) 48.66%, rgba(0, 56, 255, 0.584) 100%);
}