.last-commented > h1,
.last-bookmarks > h1,
.top-redirections > h1,
.top-contributed > h1,
.top-viewed > h1 {
  color: white;
  text-align: end;
  margin-right: 15px;
  margin-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  text-shadow: 2px 2px rgb(146, 146, 146);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(255, 255, 255, 0.329);
}

.last-commented {
  margin-top: 70px;
}

.last-commented-threads-container,
.last-bookmarks-threads-container {
  display: flex;
}

.last-commented-threads-container,
.last-bookmarks-threads-container {
  margin: 0px 30px 100px 30px;
  flex-direction: column;
  gap: 20px;
}

