.input-edge-breakpoint > input {
  display: none;
}
.homepage-content {
  /* background-color: rgba(255, 0, 0, 0.26); */
  overflow: hidden;
}
.homepage-margin-bottom {
  height: 55px;
}
.quick-stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 150px;
}
.quick-stats > div {
  margin-top: 10px;
  background-color: white;
  width: 45vw;
  text-align: center;
  border-radius: 5px;
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.233);
}
.bottom-margin {
  height: 200px;
}
.features {
  background: linear-gradient(0deg, rgba(255, 0, 0, 0.2) -1.85%, rgba(215, 0, 0, 0.16875) 30.64%, rgba(200, 200, 200, 0) 101.62%), linear-gradient(221.42deg, #8011ca 59.99%, rgba(55, 173, 209, 0.65) 104.23%);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding-top: 20px;
}

.features-carousel {
  height: 300px;
  width: 100%;
  border-radius: 20px;
  background: linear-gradient(0deg, rgba(255, 0, 0, 0.2) -1.85%, rgba(215, 0, 0, 0.16875) 30.64%, rgba(0, 0, 0, 0) 101.62%), linear-gradient(221.42deg, #040d2f 59.99%, rgba(29, 93, 112, 0.65) 104.23%);
}
.features-carousel-selection {
  display: flex;
  justify-content:space-between;
  text-align: center;
  padding: 0px 10px;
}

.features-carousel-selection > div {
  margin: 10px 0px;
  width: 25vw;
  background-color: white;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 0px 5px;
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.233);
}

.technologies-header {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 20px;
  margin: 150px 5px 0px 5px;
  color: white;
}

.technologies-list-animation-container {
  position: relative;
  z-index: 0;
  margin-top: 20px;
  overflow: hidden;
}

.technologies-list-animation {
  margin-top: 20px;
  width: fit-content;
  display: flex;
}

.technologies-list-animation > div {
  width: 1000px;
  padding: 0px 20px;
  flex-shrink: 0;
}

.medias {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  overflow: hidden;
  gap: 40px;
}

.smartphone {
  color: white;
  margin-right: 10px;
  font-size: 17px;
}

.monitor {
  color: white;
  font-size: 17px;
  text-align: right;
}

.smartphone-illustration {
  margin-left: -65px;
  width: 150px;
  float: left;
  margin-right: 10px;
}

.smartphone-text {
  margin-left: 10px;
  margin-right: 10px;
}

.monitor-illustration { 
  margin-right: -120px;
  height: 180px;
  float: right;
  margin-left: 10px;
}

.monitor-text {
  margin-left: 10px;
  margin-right: 10px;
}

.footer {
  color: aliceblue;
  height: 120px;
  display: flex;
  flex-direction: column-reverse;
}

.footer-content {
  padding: 10px;
  background-color: black;
}

@media screen and (min-width: 360px) {

  .quick-stats {
    margin-top: 80px;
    margin-right: 10px;
    margin-left: 10px;
    flex-wrap: nowrap;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.233);
    border-radius: 10px;
  }
  .quick-stats > div {
    background-color: transparent;
    box-shadow: none;
  }

  .quick-stats > div > h1 {
    font-size: 25px;
  }

  .features-carousel {
    height: 400px;
    margin: 0px 10px;
    width: auto;
  }

  .features-carousel-selection > div > p {
    font-size: 16px;
  }

  .features-carousel-selection > div {
    justify-content: center;
  }

  .features-carousel-selection {
    margin: 10px 0px;
  }

  .technologies-header > h2 {
    font-size: 30px;
  }

  .technologies-header > p {
    font-size: 18px;
  }

  .technologies-list-animation > div {
    width: 1600px;
  }

  .medias {
    gap: 180px;
    margin-top: 180px;
  }

  .smartphone-illustration {
    width: 250px;
    margin-left: -100px;
  }

  .monitor-illustration {
    margin: 0px 30px;
    height: auto;
    float: none;
  }

  .monitor-text {
    text-align: center;
  }

  .smartphone-text > h3, .monitor-text > h3 {
    font-size: 30px;
  }

  .smartphone-text > p, .monitor-text > p {
    font-size: 20px
  }
}

@media screen and (min-width: 420px) {
  .monitor-illustration {
    margin: 0px 80px;
  }
}

@media screen and (min-width: 550px) {

  .features-carousel {
    height: 550px;
  }

  .features-carousel-selection > div {
    width: 110px;
    height: 110px;
  }

  .features-carousel-selection {
    justify-content: center;
    gap: 30px;
  }

  .technologies-header {
    text-align: center;
  }

  .technologies-header > h2 {
    font-size: 30px;
  }

  .technologies-header > p {
    font-size: 23px;
  }

  .smartphone-text {
    margin-right: 50px;
  }

  .smartphone-text > p, .monitor-text > p {
    font-size: 25px
  }

  .smartphone-illustration {
    margin-right: 50px;
  }

  .monitor-text {
    margin-right: 60px;
    margin-left: 60px;
  }

}

@media screen and (min-width: 570px) {
  .monitor-illustration {
    margin: 0px 150px;
  }
}