.homepage-content {
  overflow: hidden;
}
.homepage-margin-bottom {
  height: 55px;
}
.quick-stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 150px;
}
.quick-stats > div {
  margin-top: 10px;
  background-color: white;
  width: 45vw;
  text-align: center;
  border-radius: 5px;
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.233);
}
.bottom-margin {
  height: 200px;
}
.features {
  background: linear-gradient(0deg, rgba(255, 0, 0, 0.2) -1.85%, rgba(215, 0, 0, 0.16875) 30.64%, rgba(200, 200, 200, 0) 101.62%), linear-gradient(221.42deg, #8011ca 59.99%, rgba(55, 173, 209, 0.65) 104.23%);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding-top: 20px;
  height: 400px;
}

.features-carousel {
  flex-grow: 1;
  border-radius: 20px;
  background: linear-gradient(0deg, rgba(255, 0, 0, 0.2) -1.85%, rgba(215, 0, 0, 0.16875) 30.64%, rgba(0, 0, 0, 0) 101.62%), linear-gradient(221.42deg, #040d2f 59.99%, rgba(29, 93, 112, 0.65) 104.23%);
}
.features-carousel-selection {
  display: flex;
  justify-content:space-between;
  text-align: center;
  padding: 0px 10px;
  margin: 10px 0px;
}

.features-carousel-selection > div {
  margin: 10px 0px;
  width: 25vw;
  background-color: white;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 0px 5px;
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.233);
}

.technologies-header {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 20px;
  margin: 150px 5px 0px 5px;
  color: white;
}

.technologies-icons-container {
  display: flex;
  justify-content: center;
}

.technologies-icons {
  flex-shrink: 0;
  margin-top: 40px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 30px
}

.medias {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 40px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 2.15%, rgba(39, 39, 39, 0.52) 15.83%, rgba(0, 0, 0, 0.8) 27.06%), radial-gradient(146.92% 39.04% at 50% -6.55%, rgba(255, 0, 0, 0) 48.66%, rgba(0, 56, 255, 0.584) 100%);

}

.smartphone {
  color: white;
  margin-top: 200px;
  margin-right: 10px;
  font-size: 17px;
}

.monitor {
  color: white;
  font-size: 17px;
  text-align: right;
}

.smartphone-illustration {
  margin-left: -65px;
  width: 150px;
  float: left;
  margin-right: 10px;
}

.smartphone-text {
  margin-left: 10px;
  margin-right: 10px;
}

.monitor-illustration { 
  margin-right: -120px;
  height: 180px;
  float: right;
  margin-left: 10px;
}

.monitor-text {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 150px;
}

.footer {
  color: aliceblue;
  display: flex;
  flex-direction: column-reverse;
}

.footer-content {
  padding: 10px;
  background-color: black;
}

@media screen and (min-width: 360px) {

  .quick-stats {
    margin-top: 80px;
    margin-right: 10px;
    margin-left: 10px;
    flex-wrap: nowrap;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.233);
    border-radius: 10px;
  }
  .quick-stats > div {
    background-color: transparent;
    box-shadow: none;
  }

  .quick-stats > div > h1 {
    font-size: 25px;
  }

  .features {
    height: 500px;
  }

  .features-carousel {
    margin: 0px 10px;
    width: auto;
  }

  .features-carousel-selection > div > p {
    font-size: 16px;
  }

  .features-carousel-selection > div {
    justify-content: center;
  }

  .features-carousel-selection {
    margin: 10px 0px;
  }

  .technologies-header > h2 {
    font-size: 30px;
  }

  .technologies-icons {
    width: 1400px;
    gap: 40px
  }

  .technologies-header > p {
    font-size: 18px;
  }

  .medias {
    gap: 180px;
    margin-top: 0px;
  }

  .smartphone-illustration {
    width: 250px;
    margin-left: -100px;
  }

  .monitor-illustration {
    margin: 0px 30px;
    height: auto;
    float: none;
  }

  .monitor-text {
    text-align: center;
  }

  .smartphone-text > h3, .monitor-text > h3 {
    font-size: 30px;
  }

  .smartphone-text > p, .monitor-text > p {
    font-size: 20px
  }
}

@media screen and (min-width: 420px) {
  .monitor-illustration {
    margin: 0px 80px;
  }
}

@media screen and (min-width: 550px) {

  .features {
    height: 650px;
  }

  .features-carousel-selection > div {
    width: 110px;
    height: 110px;
  }

  .features-carousel-selection {
    justify-content: center;
    gap: 30px;
  }

  .technologies-header > h2 {
    font-size: 30px;
  }

  .technologies-header > p {
    font-size: 23px;
  }

  .smartphone-text {
    margin-right: 50px;
  }

  .smartphone-text > p, .monitor-text > p {
    font-size: 25px
  }

  .smartphone-illustration {
    margin-right: 50px;
  }

  .monitor-text {
    margin-right: 60px;
    margin-left: 60px;
  }

}

@media screen and (min-width: 570px) {
  .monitor-illustration {
    margin: 0px 150px;
  }
}

@media screen and (min-width: 620px) {
  .technologies-icons {
    width: 1600px;
    gap: 50px
  }
}

@media screen and (min-width: 720px) and (orientation: landscape) {
  .homepage-margin-bottom {
    display: none;
  }
  .features {
    flex-direction: row-reverse;
    padding: 20px 0px;
  }
  .features-carousel-selection {
    flex-direction: column;
    padding-right: 0px;
    align-items: flex-start;
    justify-content: start;
    gap: 0px;
  }
  .features-carousel-selection > div {
    width: 100px;
  }
  .technologies-header {
    margin: 150px 80px 0px 80px;
    text-align: center;
  }
}

@media screen and (min-width: 950px) and (orientation: landscape) {

  .top-header-container {
    margin-top: 40px;
    display: flex;
    padding: 0px 50px;
    height: 500px;
  }
  
  .thread-preview-container {
    flex-grow: 1;
    background: linear-gradient(0deg, rgba(255, 0, 0, 0.2) -1.85%, rgba(215, 0, 0, 0.16875) 30.64%, rgba(200, 200, 200, 0) 101.62%), linear-gradient(221.42deg, #8011ca 59.99%, rgba(55, 173, 209, 0.65) 104.23%);
    border-radius: 20px;
    padding: 15px 10px;
    box-shadow: 10px 6px 30px #880ead83;
  }

  .homepage-view-content {
    box-sizing: border-box;
    width: 400px;
    padding: 30px 40px;
  }

  .quick-stats {
    margin: 200px 150px;
    background-color: rgba(255, 255, 255, 0.25);
  }

  .quick-stats > div > h1 {
    font-size: 40px;
    color: rgb(173, 173, 173);
  }
  .quick-stats > div > p {
    font-size: 18px;
  }

}

@media screen and (min-width: 1200px) and (orientation: landscape) {
  .top-header-container {
    padding: 0px 150px;
  }
}

@media screen and (min-width: 1450px) and (orientation: landscape) {
  .top-header-container {
    padding: 0px 300px;
  }
  
}