.wrapper {
  position: sticky;
  top:0;
  width: 100vw;
  height: 100vh;
  margin-bottom: -100vh;
  z-index: 100;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testheader {
  background-color: blueviolet;
  height: 50px;
}

.testfooter {
  background-color: blue;
  height: 50px;
}