.validation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.validation-header-container {
  margin-top: 60px;
  margin-bottom: 30px;
}

.validation-header-container > h1 {
  font-size: 24px;
}

.validation-title-container {
  margin-top: 50px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.validation-body-container {
  width: 80vw;
}

.validation-logo-title-container {
  background-image: linear-gradient(0deg, rgba(255, 0, 0, 0.2) -1.85%, rgba(215, 0, 0, 0.16875) 30.64%, rgba(0, 0, 0, 0) 101.62%), linear-gradient(221.42deg, #3650AB 59.99%, rgba(60, 147, 174, 0.65) 104.23%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
}

.validation-bottom-container {
  margin-top: 50px;
  /* background-color: aqua; */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.validation-bottom-link {
  background-color: rgba(255, 255, 255, 0.877);
  width: fit-content;
  height: fit-content;
  padding: 20px;
  border-radius: 10px;
}

.validation-bottom-link > p {
  margin: 0px;
}

.validation-bottom-link > a {
  color: #3650AB;
  text-decoration: underline;
  font-weight: bold;
}

@media screen and (min-width: 460px) {
  .validation-body-container {
    width: 400px;
  }
}

@media screen and (min-width: 720px) {
  .validation-bottom-container {
    width: 70%;
  }

  .validation-bottom-link {
    background-color: transparent;
    padding: 0px;
  }
}